pillow
opencv-python
python-dateutil
PyYAML
beautifulsoup4
pycryptodome
scikit-image
scikit-learn
python-dotenv
python-jose
orjson
ujson
simplejson
fastapi
starlette
uvicorn
pydantic
loguru
rich
tenacity
tqdm
psutil
win10toast
requests
numpy
pandas
matplotlib